@tailwind base;
@tailwind components;
@tailwind utilities;


.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
    position: absolute;
    z-index: -1; /* Send the image to the background */
  }

  .icon {
    font-size: 40px;
    cursor: pointer;
    color: inherit;
  }